[submodule "bgee-webapp/src/main/java/org/bgee/controller/docs/swagger-ui.git"]
	path = bgee-webapp/src/main/java/org/bgee/controller/docs/swagger-ui.git
	url = https://github.com/swagger-api/swagger-ui.git
