<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RandomAccessFile name="Tomcat"
            fileName="${sys:catalina.home}/logs/bgee-webapp-overall.log"
            immediateFlush="true" append="true">
            <PatternLayout
                pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </RandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Tomcat" />
        </Root>
    </Loggers>
</Configuration>