/**** Bgee: a dataBase for Gene Expression Evolution ****/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*
bootstrap.css defines this property, and I guess we cannot simply override it. 
So we include it from scratch in all our pages, to adapt element sizes to it. 
*/
* {
    box-sizing: border-box;
}
/****SIB CONTAINER****/
#sib_container {
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}


/****NAVIGATION BAR*** */
nav img {
    border-radius: 0px;
}
#bgee_logo {
    height: 40px;
    margin-top: -7px;
}

#sib_brand {
    height: 50px;
    padding: 15px 15px;
}

#sib_brand img {
    height: 35px;
    margin: -7px -15px 0 5px;
}

nav img.social-img {
    width: 19px;   
    height: 19px;
}

#bgee-menu.navbar-default {
    font-size: 1.1em;
    background-color: rgba(51, 51, 51, 1);
    margin-bottom: 0px;
    border-width: 0px;
    border-radius: 0px;
    z-index: 100;
}
#bgee-menu.navbar-default .navbar-nav > li {
    margin-top: -1px;
}
#bgee-menu.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(51, 51, 51, 1);
}
#bgee-menu.navbar-default .navbar-nav > li > a:hover,
#bgee-menu.navbar-default .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(85, 85, 85, 1);
}

#bgee-menu .dropdown-menu > li > a:hover {
	background-color: rgba(227, 227, 227, 1);
}

#bgee-menu.navbar-default .navbar-nav > .active > a,
#bgee-menu.navbar-default .navbar-nav > .active > a:hover,
#bgee-menu.navbar-default .navbar-nav > .active > a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(85, 85, 85, 1);
}
#bgee-menu.navbar-default .navbar-toggle {
    border-color: rgba(85, 85, 85, 1);
}
#bgee-menu.navbar-default .navbar-toggle:hover,
#bgee-menu.navbar-default .navbar-toggle:focus {
    background-color: rgba(85, 85, 85, 1);
}
#bgee-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(85, 85, 85, 1);
}
#bgee-menu.navbar-default .navbar-toggle:hover .icon-bar,
#bgee-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: rgba(153, 153, 153, 1);
}

#bgee-menu.navbar-default .caret {
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

@media (max-width: 1000px) {
    #bgee-menu.navbar-header {
        float: none;
    }
    #bgee-menu.navbar-toggle {
        display: block;
    }
    #bgee-menu.navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    #bgee-menu.navbar-collapse.collapse {
        display: none!important;
    }
    #bgee-menu.navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }
    #bgee-menu.navbar-nav > li {
        float: none;
    }
    #bgee-menu.navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/****SIB BODY****/
#sib_body {
    position: relative;
    padding: 0 1% 40px 1%;
    /*To be modified when multi-species files will be available*/
    min-height: 340px;
    color: #626262;
    z-index: 1;
}
@media (max-width: 767px) {
	#sib_body {
	   padding-bottom: 85px;
	}
}
#sib_body h1, #sib_body h2, #sib_body h3 {
    color: #E2011B;
    font-weight: bold;
}
#sib_body h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}
#sib_body h2 {
    margin: 1em 0 1em 0;
    font-size: 1.2em;
    width: 100%; 
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px #E2011B solid; /* Set color for browsers that do not support gradients */
    border-image: linear-gradient(to right, #E2011B 70%, rgba(146, 2, 9, 0));
    border-image-slice: 1;
}
#sib_body h3 {
    font-size: 1.1em;
    margin: 2em 0 1em 0;
}
#sib_body h4 {
    font-size: 1em;
	font-weight: bold;
    margin: 2em 0 1em 0;
}
#sib_body h5 {
	font-size: 1em;
	margin: 1em 0 1em 0;
}
#sib_body li {
    margin-top: 0.4em;
}

/****LINKS****/
#sib_body a {
    cursor: pointer;
    color: #920209;
    text-decoration: underline;
}

#sib_body a:visited, #sib_body a:hover {
    color: #6A1818;
}

/****BGEE SPECIFIC STUFF****/
.panel-body {
    padding: 1%;
}

/* This class is automatically added with jQuery to each 'a[target=_blank]' element without 'img' inside */
.external_link {
    background-position: right center;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent, transparent), url("../img/external_link.png");
    background-size: 9px;
    padding-right: 13px;
}

figure img {
    margin: 0px auto 3px auto;
}

span.header_details {
    font-size: 0.8em;
    font-weight: normal;
    margin-left: 0.5em;
    color: #626262;
}

.feature_list {
    display: table;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    margin-bottom: 30px;
}

.feature_list figure {
    vertical-align: top; 
}

.feature_list figcaption {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.feature_list img {
    border-radius: 8px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    box-shadow: 4px 4px 6px 0px #555;
}

.feature_list img:hover {
    box-shadow: 0px 0px 10px 4px #920209;
}

/* TODO: how to make sure that, when one of the figcaption is too long 
and uses 2 lines, but not the others, all the p elements below the figcaptions 
have the same vertical alignment?*/
.feature_list p {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.feature_list .single_feature {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    table-layout: fixed;
}

.feature_list a {
    text-decoration: none;
}

span.list_element_title {
    text-decoration: underline;
}

/****BGEE INTRODUCTION****/

#bgee_introduction p {
	text-align: justify;
    font-size: 1.1em;
/*     margin: 0 0.5%; */
    color: #515151;
}

#bgee_introduction p+p {
    margin-top: 0.5%;
}

/****BGEE SEARCH BOXES****/

div.bgee_search {
	margin-top: 20px;
}

span.examples {
    margin-left: 10px;
}

div.bgee_search label {
    color: #626262;
}

span.search_msg {
    margin-left: 10px;
}

div.bgee_search .form {
    margin-bottom: 0;
    padding-left: 0px;
}

div.bgee_search button {
    margin-top: 25px;
}

.small-search-box {
	margin: 20px 0 0 15px;
}

img.ajax_waiting {
    height: 15px;
}

/**** FOOTER ****/
#bgee_footer.navbar-default {
    position: absolute;
    bottom: 0px;
	background-color: rgba(51, 51, 51, 1);
    margin-bottom: 0px;
    border-width: 0px;
    border-radius: 0px;
    z-index: 50;
    min-height: 30px;
    width: 100%;
}

#bgee_footer a {
    color: #F7F8FA;
    text-decoration: none;
    padding: 5px 15px 5px 0px;
}

#bgee_footer a:hover {
    text-decoration: underline;
}

/*! jQuery UI - v1.11.0 - 2014-06-26
* http://jqueryui.com
* Includes part of: core.css, autocomplete.css, menu.css, theme.css
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-hidden {
    display: none;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 1em;
    list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter:Alpha(Opacity=0);
}

.ui-front {
    z-index: 100;
}

/* Misc visuals: Overlays
----------------------------------*/

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ui-menu {
    padding: 0;
    margin: 0;
    display: block;
}

.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
    padding: 3px 1em 3px .4em;
    cursor: pointer;
    min-height: 0;
}

.ui-menu .ui-state-focus {
    margin-top: -1px;
    margin-bottom: -1px;
}

/* Component containers
----------------------------------*/

.ui-widget-content {
    border-color: #7C7C7C #C3C3C3 #C3C3C3 #7C7C7C;
    border-style: solid;
    border-width: 2px;
    background-color: #F7F8FA;
    color: #333;
}

/* Interaction states
----------------------------------*/
.ui-state-focus,.ui-widget-content .ui-state-focus {
    border-color: #E2011B;
    border-style: solid;
    border-width: 1px 0;
    background-color: #D9DDE1;
    color: #E2011B;
}

/**** SPECIES SECTION ****/
/** All following properties are commons to home and download pages. **/
             
div.bgee_download_section figcaption p {
    color: #515151;
    font-size: 0.75em;
    margin: 0;
    text-align: center;
}

div.bgee_download_section figure {
    cursor: pointer;
    float: left;
}
div.bgee_download_section figure img {
	border-radius: 8px;
    width: 113px;
}
div.bgee_download_section figure.selected {
    border: 4px #282828 solid;
    background: #282828;
    border-radius: 12px 12px 0 0;
    padding: 0px;
}

#bgee_data figure,
#bgee_uniq_species figure {
	margin: 0;
    padding: 4px;
}

#bgee_data figure:not(.selected) img.species_img,
#bgee_uniq_species figure:not(.selected) img.species_img {
    box-shadow: 4px 4px 6px 0px #555;
}

#bgee_data figure:not(.selected) img.species_img:hover,
#bgee_uniq_species figure:not(.selected) img.species_img:hover {
    box-shadow: 0px 0px 10px 4px #920209;
 }
  
/**** BGEE DATASELECTION (banner) ****/
#bgee_data_selection {
    position: relative;
    background-color: #282828;
    padding: 20px;
    left: -1%;   /* specific to home page */
    width: 102%;  /* specific to home page */
    clear: left;
    display: none;
    margin-right: 0;
    margin-left: 0;
}

#bgee_data_selection h1, #bgee_data_selection h2 {
    display: inline-block;
    text-align: left;
    color: #DBDBDB;
    font-weight: normal;
}

#bgee_data_selection h1 {
    margin: 0 0 10px 0;
}

#bgee_data_selection h1 span.scientificname {
    font-style: italic;
    margin-right: 0.3em;
}

#bgee_data_selection h2 {
    font-weight: normal;
    margin: 1em 0.4em 0.2em 0;
    font-size: 1.25em;
    border: 0 !important;
    width: auto !important;
}

#bgee_data_selection ul {
    white-space: nowrap;
    list-style-image: url(../img/arrow.png);
    margin: 0;
}
  
#bgee_data_selection li {
    display: inline;
}
 
#bgee_data_selection li img.bullet_point {
    width: 25px;
    height: 15px;
    margin: 0px 5px 5px 15px;
}
 
 #bgee_data_selection_cross {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

#bgee_data_selection_cross img {
    cursor: pointer;
    height: 20px !important;
    width: 20px !important;
}
 
#bgee_data_selection a.data_page_link {
    color: #AAA;
}
 
#bgee_data figure.selected,
#bgee_uniq_species figure.selected {
	padding: 0px;
}
 
#bgee_data figure.selected p,
#bgee_uniq_species figure.selected p {
    color: #282828;
}

/****BGEE CREATIVE COMMONS****/
#creativecommons_title {
    color: #515151;
    font-weight: bold;
    font-size: 0.6em;
}

#creativecommons {
    display: none;
}

#creativecommons p {
    font-size: 0.6em;
    margin: 2px 2%;
    color: #515151;
}
