div.documentationsubsection, div.documentationmenu {
    position: relative;
    display: inline-block;
}

div.documentationsubsection {
    text-align: left;
    padding: 1%;
    margin: 0;
    width: 98%;
}

div.subsectiontext p {
    margin: 1% 0;
}

div.documentationmenu {
    width: 100%;
    margin-bottom: 2%;
}

div.documentationmenu ul {
    margin: 0;
    padding: 0;
}

div.documentationmenu li {
    list-style-type: none;
}

#sib_body h1, #sib_body h2, #sib_body h3 {
    display: inline-block; 
    color: #920209;
    font-weight: normal;
}

#sib_body h1 {
    width: 100%;
    font-size: 2em;
    font-weight: bold;
}

#sib_body h2 {
    margin: 1em 0 0 0;
    font-size: 1.6em;
    font-weight: bold;
    border-bottom: 2px #920209 solid;
    width: 100%; 
}

#sib_body h3 {
    font-size: 1.2em;
    margin: 1% 0 0 0;
}

a.backlink, a.backlink:visited {
    color: #626262;
}
