div.documentationsection, div.documentationmenu {
    position: relative;
    display: inline-block;
}

div.documentationsection {
    text-align: left;
    margin: 0;
}

div.subsectiontext p {
    margin: 1% 0;
}

.documentationintro {
	margin: 0 0 1% 0;
    padding: 0;
    text-align: justify;
}

div.documentationmenu {
    width: 100%;
    margin-bottom: 2%;
}

div.documentationmenu > ul {
    margin: 0;
    padding: 0;
}

div.documentationmenu li {
    list-style-type: none;
    margin-top: 0.3%;
}

div.large-table {
	overflow-x: scroll;
}

table.call_download_file_desc, table.call_download_file_example {
	width: 100%;
	border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 0.9em;
    /* needed to style borders of other table elements */
    border-collapse: collapse; 
    margin-bottom: 1em;
}

table.call_download_file_example {
	font-size: 0.7em;
}

table.call_download_file_desc caption, table.call_download_file_example caption {
    text-align: center;
    font-weight: bold;
}
	
table.call_download_file_desc thead, table.call_download_file_example thead {
	border-bottom: 1px solid black;
}

table.call_download_file_desc td, table.call_download_file_desc th, 
table.call_download_file_example td, table.call_download_file_example th {
    vertical-align: top;
    padding: 0.5em;
    text-align: left;
    font-weight: normal;
}

ul.doc_content li:not(:first-child) {
    margin-top: 0.7em;
}

div.doc_content {
	padding: 0 0.3em 0 0.3em;
	text-align: justify;
}

a.backlink, a.backlink:visited {
    color: #626262;
}
