/**** Bgee: a dataBase for Gene Expression Evolution ****/
html, body {
    height: 100%;
    min-height: 800px;
    margin: 0;
    padding: 0;
    min-width: 600px;
}

/****SIB CONTAINER****/
#sib_container {
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: #F7F8FA;
    overflow: hidden;
}

/****SIB HEADER****/
header {
    position: relative;
    display: inline-block;
    background: #F7F8FA url(../img/sib_header_bkgd.png) repeat-x top left;
    height: 100px;
    width: 100%;
    color: #282828;
    z-index: 2;
}

header h1, header h2  {
	position: relative;
    margin: 0 auto;
    width: 430px;
	color: #282828;
	text-align: center;
    font-family: Helvetica, Verdana, sans-serif;
    font-weight: normal;
    white-space: nowrap;
}

header h1 {
    top: 20px;
    font-size: 27px;
}

header h2 {
    top: 25px;
    font-size: 19px;
}

/****LOGOS****/
header img {
    border-radius: 0px;
}

#sib_logo {
    position: absolute;
    width: 141px;
    height: 75px;
    top: 8px;
    right: 2%;
}

#sib_other_logo {
    position: absolute;
    top: 8px;
    left : 2%;    
    width: 186px;
    height: 75px;
}

/****SIB BODY****/
#sib_body {
    position: relative;
    padding: 10px 0 50px 0;
    background: #F7F8FA url(../img/sib_body_bkgd.png) repeat-x top left;
    min-height: 800px;
    height: 100%;
    font-family: Helvetica;
    color: #626262;
    font-size: 12px;
    z-index: 1;
}

/****LINKS****/
#sib_body a.sib_link, #sib_body a.sib_link:visited {
    color: #d6161d;
    font-size: 12px;
    font-family: Helvetica;
    text-decoration: none;
}

#sib_body a.sib_link:hover {
    text-decoration: underline;
}

#sib_body a.sib_link:visited {
    color: #920209;
}

a, a:visited {
    color: #D6161D;
    text-decoration: none;
}

a:visited {
    color: #920209;
}

a:hover, a:hover:visited {
    text-decoration: underline;
}

/****BGEE SPECIFIC STUFF****/
p, label {
    color: #920209;
    font: 16px Helvetica, Verdana, sans-serif;
}

p {
    margin: 0 2%;
}

figure {
    cursor: pointer;
    cursor: hand;
    float: left;
}

figure img {
    margin: 0 auto;
}

div.biggroup {
    position: relative;
    display: inline-block;
    width: 95%;
    margin: 0 2% 10px 2%;
    border: 2px #920209 solid;
    border-radius: 8px;
    padding: 0.5%;
    text-align: left;
}

#sib_body h1 {
    margin: 0 2%;
    color: #920209;
    font: 16px Helvetica, Verdana, sans-serif;
}

div.biggroup figcaption p {
    text-align: center;
    color: #515151;
    font: 12px Helvetica, Verdana, sans-serif;
    margin: 0;
}

img {
    border-radius: 8px;
}

#bgee_uniq_species img {
    width: 113px;
}

#bgee_multi_species img {
    width: 60px;
    margin: 0px 1px;
}

#bgee_uniq_species figure {
    margin: 0;
    padding: 4px;
}

#bgee_multi_species figure {
    margin: 2px 2px 0;
    padding: 5px;
}

#bgee_multi_species figure div {
    border: 1px #920209 solid;
    border-radius: 8px;
    padding: 6px;
}

#bgee_multi_species figcaption {
    margin-top: 4px;
    color: #515151;
    text-align: center;
}

/****BGEE INTRODUCTION****/

#bgee_introduction {
    padding: 0; 
    text-align: left;
}
#bgee_introduction p {
    margin: 0 0.5%;
    font: 14px Helvetica, Verdana, sans-serif;
    color: #515151;
}

/****BGEE SEARCH BOX****/
#bgee_search_box {
    width: 670px;
    height: 25px;
    margin: 0 auto ;
    padding: 10px; 
    background-color: #D9DDE1;
    border-radius: 8px;
}
#bgee_search_box form {
    display: inline-block;
}

input[type="image"] {
    margin-top: -1px;
    vertical-align: middle;
    border-radius: 8px;
}

#sib_body input.sib_text {
    width: 470px;
    font-size: 11px;
    font-weight: normal;
    background: #FFF;
    border-color: #7C7C7C #C3C3C3 #C3C3C3 #7C7C7C;
    border-style: solid;
    border-width: 1px;
    color: #406981;
}

div#results_nb{
    text-align:center;
}

#bgee_more_results_up{
    position: fixed;
    text-align:center;
    background-color:#D6161D;
    border: 3px solid #F7F8FA;
    border-top:0px;
    border-left:0px;
    border-radius:0px 0px 12px 0px ;
    padding:10px;
    height:15px;
    width:100px;
    left:0%;
    top:0%;
    color:white;
    font-weight:900;
    z-index:10;
    display:none;
}

#bgee_more_results_down{
    position: fixed;
    text-align:center;
    background-color:#D6161D;
    border: 3px solid #F7F8FA;
    border-bottom:0px;
    border-left:0px;
    border-radius:0px 12px 0px 0px ;
    padding:10px;
    height:15px;
    width:100px;
    left:0%;
    bottom:0%;
    color:white;
    font-weight:900;
    z-index:10;
    display:none;
}

figure.highlight {
    background: #D6161D;
    color: #DBDBDB;
    border-radius: 12px;
    padding: 0px;
}
    
#bgee_uniq_species figure.highlight figcaption p, #bgee_multi_species figure.highlight figcaption {
    color: #DBDBDB;
}

#bgee_uniq_species figure.highlight {
        border: 4px #D6161D solid;
    
    padding: 0px;
}

#bgee_multi_species figure.highlight {
    border: 3px #D6161D solid;
    padding: 3px;
}

#bgee_multi_species figure.highlight div {
    border: 0;
}

/****BGEE DATASELECTION****/
#bgee_data_selection {
    position: relative;
    background-color: #282828;
    padding: 30px;
    left: -3%;
    width: 101%;
    margin: 5px 0;
    clear: left;
    display: none;
}

#bgee_data_selection p {
    font-size: 14px;
    color: #DBDBDB;
    width : 80%;
    margin:0;
}

#bgee_data_selection h1, #bgee_data_selection h2 {
    margin: 0px;
    white-space: nowrap;
    text-align: left;
    color: #DBDBDB;
}

#bgee_data_selection h1 {
    display: inline;
    font: 36px Helvetica, Verdana, sans-serif;
    margin-top: 11px 0;
}

#bgee_data_selection h1.scientificname {
    font-style: italic;
}

#bgee_data_selection h2 {
    margin: 30px  0 20px;
    font: 20px Helvetica, Verdana, sans-serif;
}

#bgee_data_selection ul {
    height: 15px;
    width: 25px;
    white-space: nowrap;
    list-style-image: url(../img/arrow.png);
}

#bgee_data_selection_cross img {
	position: absolute;
    top: 30px;
	right: 30px;
    height: 20px;
	width: 20px;
    z-index: 2;
}


#bgee_data_selection_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
}

#bgee_data_selection_img img {
    position: relative;
    float: left;
    margin: 30px 0px 0px 30px;
    width: 300px;
    height: 300px;
}

#bgee_data_selection_text {
    padding-left: 370px;
    height: 300px;
}

.download_link {
    display:inline-block;
    background-color:#515151;
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px;
    color:#dbdbdb;
    font: bold 14px Helvetica, Verdana, sans-serif;
    text-decoration: none;
    white-space: nowrap;
}

.download_link:hover {
    text-decoration: none;
    background-color:#717171;
}

figure.selected {
    border: 4px #282828 solid;
    background: #282828;
    border-radius: 12px 12px 0 0;
    padding: 0px;
}

#bgee_uniq_species figure.selected {
    padding: 0px;
}

#bgee_uniq_species figure.selected p {
    color: #282828;
}
#bgee_multi_species figure.selected div {
    border: 0;
}
#bgee_multi_species figure.selected figcaption {
    color: #282828;
}

#bgee_multi_species figure.selected {
    border-radius: 12px 12px 0 0;
    bottom: -20px;
    padding: 3px;
}

.invisible {
    display: none;
}

/****BGEE CREATIVE COMMONS****/
#creativecommons_title {
    color: #515151;
    font: bold 10px Helvetica, Verdana, sans-serif;
}

#creativecommons p {
    font: 10px Helvetica, Verdana, sans-serif;
    margin: 2px 2%;
    color: #515151;
}

#creativecommons a {
    color: #920209;
    text-decoration: underline;
}

#creativecommons a:hover {
    color: #d6161d;
}

/****SIB FOOTER****/
footer {
    position: absolute;
    bottom: 0px;
    height: 40px;
    background-color: #1E2425;
    width: 100%;
    color: #F7F8FA;
    letter-spacing: 1px;
    font-family: Verdana;
    font-size: 10px;
    font-weight: normal;
    z-index: 2;
}

#sib_footer_content a, #sib_footer_right a {
    color: #F7F8FA;
    text-decoration: none;
}

#sib_footer_content a:hover, #sib_footer_right a:hover {
    text-decoration: underline;
}

#sib_footer_content {
    position: relative;
    padding: 9px 36px 0px 36px;
    padding-right: 300px;
}

#sib_footer_right {
    position: absolute;
    right: 2%;
    width: 400px;
    top: 9px;
    text-align: right;
}

#sib_footer_gototop {
    background: transparent url(../img/triangle_hover.png) no-repeat top left;
    padding-left: 10px;
}
