#sib_body {
    padding: 0 1% 30px 1%;
}

#bgee_start {
    background-color: #999999;
    height: 300px;
	padding-top: 50px;
}

#bgee_hp_logo {
    height: 75px;
    text-align: center;
    margin-bottom: 5px;
}

#bgee_start .mini_text {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}

#start_buttons {
    margin-top: 60px;
    text-align: center;
}

#start_buttons a, #start_buttons a:visited {
    display: inline-block;
	margin-bottom: 0;
	padding: 10px 16px;
	font-size: 1.2em;
	line-height: 1.3333333;
	border-radius: 4px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	background: #e2011b;
	color: #FFF;
	text-decoration: none;
}

#start_buttons a:hover {
    border: 1px solid #FFF;
}

#bgee_explanations {
    margin: 50px 0;
}

#bgee_explanations span {
    color: #626262;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 40px;
}

#bgee_explanations p {
    font-size: 16px;
}

#bgee_news {
    margin: 20px 11%;
}

.news-date {
	font-weight: bold;
}

#bgee_more_info {
	text-align: center;
}

/**** BGEE CREATIVE COMMONS ****/
#creativecommons_title {
    color: #515151;
    font-weight: bold;
    font-size: 0.6em;
}

#creativecommons {
    display: none;
}

#creativecommons p {
    font-size: 0.6em;
    margin: 2px 2%;
    color: #515151;
}

