
table#geneinfo {
	margin: 1em;
}

table.expression {
	width: 80%;
	margin: 1em;
	table-layout: fixed;
}

table.legend {
	border: 1px solid #ccc;
	padding: 1em;
}
table.legend td {
	padding: .1em;
}

td.col10 {
	width: 10%;
}

td.col15 {
	width: 15%;
}

td.col20 {
	width: 92px;
}

td.col25 {
	width: 33%;
}

td.col50 {
	width: 42%;
}

table.stage {
	width: 100%;
	table-layout: fixed;
}

table.expression td {
	vertical-align:text-top;
}

.small {
	font-size: .75em;
}

.invisible {
    display: none;
}

div.gene {
	margin-top: 1em;
	margin-left: 5em;
}

td.right {
	text-align: right;
	padding-right: .8em;
	font-weight: 300;
}

.details {
	padding-right: .5em;
	padding-left: .2em;
	color: #777;
	font-weight: 300;	
}

span.quality {
	padding: .2em .5em;
	margin: .15em;
	border-radius: .4em; 
	width: 1em;
	height: 1em;
	border-width: 1px;
	border-style: solid;
	font-size: .8em;
	font-family: monospace;
}

span.show_extra {
	font-size: .85em;
	text-decoration: underline;
	margin-left: 7em;	
}

span.show_masked {
	font-size: .85em;
	text-decoration: underline;
	margin-left: 7em;	
}

.masked {
	font-style: italic;
}

.high {
	background: #9efa9e; 
	border-color: #0df20d;
	color: #067906;
}

.low {
	background: #fae39e;
	border-color:  #f2b90d;
	color:   #795c06;
}

.nodata {
	background: #dedede;
	color: #b8b8b8;
	border-color: #b8b8b8;
}
