p.endpoint-url {
	text-align: center;
	font-weight: bold;
}

span.bioquery-section {
	background-color: #dedede;
	border: 1px solid #999;
	padding: 1px;
}

span.bioquery-button {
	background-color: rgb(0, 255, 255);
	border-radius: .5rem;
	padding: 2px;
}
