
<div class="container-fluid">

    <form id="queryForm" name="queryForm" ng-submit="vm.postForm()" novalidate>

        <!-- LINKS -->
        <div class="row vert-offset" style="padding-bottom: 20px">
            <div class="col-sm-4 col-sm-offset-8">
                <a style="margin-right: 4px;" class="btn btn-default btn-xs pull-right" href="" role="button" ng-click="vm.updateShowHelpCookie(!vm.showHelp)">{{vm.quickstart}} quickstart</a>
            </div>
        </div>

        <!-- HELP panel -->
        <div class="row">
            <div id="helpContainer" class="repeat-animation hide-fade" ng-show="vm.showHelp">
                <div id="helpPanel" class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">TopAnat - Quickstart</h3>
                    </div>

                    <div class="row panel-body">
                        <div class="col-sm-6">
                            <p>TopAnat is a tool to identify and visualize enriched anatomical terms,
                                from the expression patterns of a list of genes.
                                It allows to discover where genes from a set are preferentially expressed,
                                as compared to a background, represented by default by all the expression data of all genes.
                                <a href="">More...</a>
                            </p>
                        </div>

                        <div class="col-sm-6">
                            <ul class="help">
                                <li>Enter a list of Ensembl identifiers into the first form field,</li>
                                <li>Optionally, enter a list of background genes,</li>
                                <li>Optionally, change the program parameters with the dropdown menu.</li>
                                <li>Click the 'Submit your job' button.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- GENE LIST + BACKGROUND + ADVANCED OPTIONS -->
        <div class="row">

            <!-- GENE LIST -->
            <div class="col-sm-3">
                <span class="h5">Gene list </span><em class="pull-right small" ng-show="vm.selected_species !== ''">Detected species: {{vm.selected_species}}</em></span>
                    <textarea name="genes"
                              ng-model="vm.genes"
                              ng-list="&#10;"
                              ng-trim="false"
                              placeholder="Enter a list of Ensembl identifiers, one ID per line"
                              rows="8"
                              cols="30"
                              ng-blur="vm.getDevStages('fg', vm.genes)"
                              ng-change="vm.getDevStages('fg', vm.genes)"
                              ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                              ng-disabled="vm.formSubmitted"
                              class="form-control"></textarea>
                <div class="row">
                    <span class="col-xs-12">
                        <span class="btn btn-default btn-file" ng-class="{'disabled': vm.formSubmitted}">
                            Upload gene list<input ng-click="vm.fileType='fg'" nv-file-select="" uploader="vm.uploader" type="file" ng-disabled="vm.formSubmitted"/>
                        </span>

                        <span class="col-sm-push-3" id="fgprogress" ng-show="!vm.hideq['fg']"
                              ng-repeat="item in vm.uploader.queue">
                            <span ng-show="vm.uploader.isUploading">Uploading:
                            <strong>{{ vm.fileitem['fg'].name }}</strong>
                        {{ item.file.size/1024|number:2 }} KB</span>
                        </span>

                        <span ng-show="vm.showUploaded['fg']">
                            {{ vm.fileitem['fg'].name }} uploaded! <i class="glyphicon glyphicon-ok"></i>
                        </span>

                        <span ng-show="item.isCancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                        </span>

                        <span ng-show="item.isError">
                            <i class="glyphicon glyphicon-remove"></i>
                        </span>

                        <div class="progress" style="margin-top: 10px;" ng-show="!vm.hideq['fg']">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.uploader.queue[0].progress + '%' }"></div>
                        </div>
                    </span>
                </div>
            </div>

            <!-- BACKGROUND -->
            <!-- Adding ng-class to disable/enable works for the spans and h* elements but not for the inputs or the textarea -->
            <div class="col-sm-3 repeat-animation hide-fade" ng-hide="!vm.selected_species">

                <span class="h5">Background genes:</span>
                <br/>
                <span><input type="radio" name="isBackgroundChecked" ng-model="vm.isBackgroundChecked" value="checked" ng-disabled="vm.formSubmitted">Use {{vm.selected_species}} genome</span>
                <span><input type="radio" name="isBackgroundChecked" ng-model="vm.isBackgroundChecked" value="" ng-disabled="vm.formSubmitted">Enter your own background</span>

                <textarea name="background"
                          class="form-control"
                          ng-model="vm.background"
                          ng-list="&#10;"
                          ng-trim="false"
                          ng-show="vm.isBackgroundChecked === ''"
                          ng-hide="vm.isBackgroundChecked === 'checked'"
                          placeholder="Ensembl identifiers from {{vm.selected_species}} genome, one ID per line"
                          ng-blur="vm.checkList('bg', vm.background)"
                          ng-change="vm.getDevStages('bg', vm.background)"
                          ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                          rows="8"
                          cols="30"
                          ng-disabled="vm.formSubmitted"></textarea>

                <div class="row" ng-show="!vm.isBackgroundChecked" ng-hide="vm.isBackgroundChecked">
                        <span class="col-xs-12">
                            <span class="btn btn-default btn-file" ng-class="{'disabled': vm.formSubmitted}">
                                Upload background<input ng-click="vm.fileType='bg'"
                                                        nv-file-select="" uploader="vm.uploader" type="file" ng-disabled="vm.formSubmitted" />
                            </span>

                            <span class="col-sm-push-3" id="bgprogress" ng-show="!vm.hideq['bg']"
                                  ng-repeat="item in vm.uploader.queue">
                                <span ng-show="vm.uploader.isUploading">Uploading:
                                <strong>{{ vm.fileitem['bg'].name }}</strong>
                            {{ item.file.size/1024|number:2 }} KB</span>
                            </span>

                            <span ng-show="vm.showUploaded['bg']">
                                {{ vm.fileitem['bg'].name }} uploaded! <i class="glyphicon glyphicon-ok"></i>
                            </span>

                            <span ng-show="item.isCancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                            </span>

                            <span ng-show="item.isError">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>

                            <div class="progress" style="margin-top: 10px;" ng-show="!vm.hideq['bg']">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.uploader.queue[0].progress + '%' }"></div>
                            </div>
                        </span>
                </div>
            </div>

            <!-- OPTIONS (DEV STAGES + EXPRESSION TYPE) -->
            <div class="col-sm-3 repeat-animation hide-fade" ng-hide="!vm.selected_species">
                <span class="h5">Development stages:</span>
                <div ng-repeat="(key, stage) in vm.developmentStages">
                                <label ng-class="{'highlighted': !stage.checked}" class="checklist-label">&nbsp;&nbsp;<input type="checkbox" ng-model="stage.checked" ng-disabled="vm.formSubmitted">
                                {{stage.name}}</label>
                </div>
            </div>

            <div class="col-sm-3 repeat-animation hide-fade" ng-hide="!vm.selected_species">
                <span class="h5">Expression type:</span>

                <!-- Removed ng-checked directives because:
                - those don't seem to be used
                - ng-checked directive should not be used together with ngModel, as this can lead to unexpected behavior.
                Source: https://docs.angularjs.org/api/ng/directive/ngChecked
                -->
                <div>
                                <span>&nbsp;&nbsp;<input type="radio" name="expressionType" ng-model="vm.expressionType"
                                                         value="EXPRESSION" ng-click="vm.filterByDataType('EXPRESSION')" ng-disabled="vm.formSubmitted" />Present/Absent</span>
                                <span ng-class="{'highlighted': vm.expressionType === 'DIFF_EXPRESSION'}">&nbsp;&nbsp;<input type="radio" name="expressionType" ng-model="vm.expressionType"
                                                                                                                             value="DIFF_EXPRESSION" ng-click="vm.filterByDataType('DIFF_EXPRESSION')" ng-disabled="vm.formSubmitted"/>Over/Under expression</span>
                </div>
                <br/>
                <span class="h5">Data types:</span>
                <div ng-repeat="(key, dataType) in vm.dataTypes.names">
                    <label ng-class="{'highlighted': (!dataType.checked && vm.allowedDataTypes.indexOf(dataType.key) != -1) }" class="checklist-label">&nbsp;&nbsp;<input type="checkbox" ng-model="dataType.checked" ng-disabled="vm.allowedDataTypes.indexOf(dataType.key) == -1 || vm.formSubmitted" />{{dataType.name}}</label>
                </div>
            </div>
        </div>
        <!-- SUBMIT BUTTON -->
        <div class="row">

            <!-- Not nice, but col-md-push breaks the display (the advanced option div underneath is shifted to the right)-->
            <!-- Please do not hesitate to improve this part! -->
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <div class="vert-offset">
                    <div class="row" ng-show="!vm.formSubmitted">
                        <button class="btn btn-primary btn-lg" type="submit" ng-disabled="queryForm.$invalid || !vm.selected_species">
                                Submit your job
                            </button>
                            <input type="email" placeholder="Email (Optional)" size="30" ng-model="vm.email" name="email" uib-tooltip="Enter your email to be notified when the job is completed" >
                            <p ng-show="queryForm.email.$error.email" class="alert-danger">No valid email!</p>
                    </div>
                    <button class="btn btn-danger btn-lg" ng-click="vm.cancelJob()" ng-show="vm.formSubmitted && !vm.jobDone" type="button">
                        Cancel your job
                    </button>
                    <button class="btn btn-success btn-lg" ng-click="vm.startNewJob()" ng-show="vm.jobDone" type="button">
                        Start a new job
                    </button>
                </div>
            </div>
        </div>

        <!-- ADVANCED OPTIONS -->
        <div class="row vert-offset">

            <!-- Not nice, but col-md-push breaks the display (shifted to the right)-->
            <!-- Please do not hesitate to improve this part! -->
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <div><span><a href="" ng-click="vm.isAdvancedOptionsChecked = !vm.isAdvancedOptionsChecked">Advanced options</a></span></div>
                <div ng-show="vm.isAdvancedOptionsChecked" ng-hide="!vm.isAdvancedOptionsChecked" class="vert-offset">
                    <!-- List group -->
                    <ul class="list-group">

                        <li class="list-group-item">
                            <label>Data quality:&nbsp;<span class="glyphicon glyphicon-question-sign" uib-tooltip="Data quality"></span></label>
                            <div>
                                <span>&nbsp;&nbsp;<input type="radio" name="dataQuality" ng-model="vm.dataQuality" value="all">All</span>
                                <span ng-class="{'highlighted': vm.dataQuality === 'highConfidence'}">&nbsp;&nbsp;<input type="radio" name="dataQuality" ng-model="vm.dataQuality" value="highConfidence">High confidence</span>
                            </div>
                        </li>


                        <li class="list-group-item">
                            <label>Decorrelation type:&nbsp;<span class="glyphicon glyphicon-question-sign" uib-tooltip="Decorrelation type"></span></label>
                            <div>
                                <span ng-class="{'highlighted': vm.decorrelationType === 'no'}">&nbsp;&nbsp;<input type="radio" name="decorrelationType" ng-model="vm.decorrelationType" value="no">No decorrelation</span>
                                <span ng-class="{'highlighted': vm.decorrelationType === 'elim'}">&nbsp;&nbsp;<input type="radio" name="decorrelationType" ng-model="vm.decorrelationType" value="elim">Elim</span>
                                <span ng-class="{'highlighted': vm.decorrelationType === 'weight'}">&nbsp;&nbsp;<input type="radio" name="decorrelationType" ng-model="vm.decorrelationType" value="weight">Weigth</span>
                                <span>&nbsp;&nbsp;<input type="radio" name="decorrelationType" ng-model="vm.decorrelationType" value="parent-child">Parent-child</span>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <label>Anaylsis options:</label>
                            <table class="table">
                                <tr>
                                    <td>
                                        <label ng-class="{'highlighted': vm.nodeSize != vm.nodeSizeDefault}">Node size:&nbsp;<span class="glyphicon glyphicon-question-sign" uib-tooltip="Node size"></span></label>
                                    </td>
                                    <td>
                                        <input type="number" name="nodeSize" ng-model="vm.nodeSize" class="ao-input" required min="0" max="99">
                                        <p ng-show="queryForm.nodeSize.$error.required" class="help-block">The node size is required</p>
                                        <p ng-show="queryForm.nodeSize.$error.number" class="help-block">The node size must be a valid integer</p>
                                    </td>

                                    <td>
                                        <label ng-class="{'highlighted': vm.nbNodes != vm.nbNodesDefault}">Nb of nodes:&nbsp;<span class="glyphicon glyphicon-question-sign" uib-tooltip="Number of nodes"></span></label>
                                    </td>
                                    <td>
                                        <input type="number" name="nbNodes" ng-model="vm.nbNodes" class="ao-input" required min="0" max="99">
                                        <p ng-show="queryForm.nbNodes.$error.required" class="help-block">The number of nodes is required</p>
                                        <p ng-show="queryForm.nbNodes.$error.number" class="help-block">The number of nodes must be a valid integer</p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label ng-class="{'highlighted': vm.fdrThreshold != vm.fdrThresholdDefault}">FDR threshold:&nbsp;<span class="glyphicon glyphicon-question-sign" uib-tooltip="FDR threshold"></span></label>
                                    </td>
                                    <td>
                                        <input type="text" name="fdrThreshold" ng-model="vm.fdrThreshold" class="ao-input" required>
                                        <p ng-show="queryForm.fdrThreshold.$invalid" class="help-block">The FDRthreshold is required</p>
                                    </td>

                                    <td>
                                        <label ng-class="{'highlighted': vm.pvalueThreshold != vm.pvalueThresholdDefault}">p-value threshold:&nbsp;<span class="glyphicon glyphicon-question-sign" uib-tooltip="p-value threshold"></span></label>
                                    </td>
                                    <td>
                                        <input type="text" name="pvalueThreshold" ng-model="vm.pvalueThreshold" class="ao-input" required>
                                        <p ng-show="queryForm.pvalueThreshold.$invalid" class="help-block">Thep-value threshold is required</p>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </form>

    <div class="row vert-offset" ng-show="vm.formSubmitted">
        <div class="col-sm-1"><img ng-src="{{vm.species_img(vm.selected_taxid)}}" alt='{{vm.selected_species}}' class="img-responsive" ng-show="vm.selected_taxid !==''"></div>
        <div class="col-sm-11 alert alert-info" ng-show="vm.message">{{vm.message}}
            <span ng-show="vm.isSuccessfulMessage(vm.message)">&nbsp;
                <a href="" style="margin-right: 6px;" class="pull-right"><span style="margin-right: 4px;vertical-align: middle;" class="glyphicon glyphicon-cog" aria-hidden="true"></span>Parameters</a>
                <a href="" style="margin-right: 6px;" class="pull-right"><span style="margin-right: 4px;vertical-align: middle;" class="glyphicon glyphicon-import" aria-hidden="true"></span>Export your job</a>
                <a href="" style="margin-right: 6px;" class="pull-right"><span style="margin-right: 4px;vertical-align: middle;" class="glyphicon glyphicon-download" aria-hidden="true"></span>Download</a>
            </span>
        </div>
    </div>

    <!-- resultContainer class to be defined -->
    <!-- make the table sortable, paginated, downloadable -->
    <div id="resultContainer" ng-show="vm.jobDone && vm.gridOptions.data.length > 0" class="vert-offset well">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">View:&nbsp;</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All results<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="(key, stage) in vm.developmentStages"><a href="" ng-click="vm.viewResultsBy(stage.name)">{{stage.name}} only</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="vert-offset">
                        <span ng-show="vm.filteredRows.length > 0" style="font-size: small;" class="pull-right">&nbsp;[<a href="" ng-click="vm.downloadFilteredRow()">Download</a>]</span>
                        <span class="pull-right" style="font-size: small; color: red;" ng-show="vm.filteredRows.length > 0">&nbsp;{{vm.filteredRows.length}} results</span>
                        <button ng-click='vm.filter()' class="pull-right">Filter</button>
                        <input ng-model='vm.filterValue' class="pull-right"/>
                    </div>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div id="grid1" ui-grid="vm.gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-exporter></div>
    </div>
</div>

</div>
