
<div class="container-fluid">

    <form id="queryForm" name="queryForm" ng-submit="vm.postForm()" novalidate>

        <input type="hidden" ng-model="vm.isFormValidDevStages" required/>
        <input type="hidden" ng-model="vm.isFormValidDataTypes" required/>

        <!-- LINKS -->
        <div class="row vert-offset" style="padding-bottom: 20px">
            <div class="col-sm-4 col-sm-offset-8">
                <a style="margin-right: 4px;" class="btn btn-default btn-xs pull-right" href="" role="button" ng-click="vm.updateShowHelpCookie(!vm.showHelp)">{{vm.quickstart}} quickstart</a>
            </div>
        </div>

        <!-- HELP panel -->
        <div class="row">
            <div id="helpContainer" class="repeat-animation hide-fade" ng-show="vm.showHelp">
                <div id="helpPanel" class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">TopAnat - Quickstart</h3>
                    </div>
                    <div class="panel-body bgee_alert_container">
                        <span class="bgee_alert">Warning: </span>TopAnat is currently 
                         a <strong>very early and experimental</strong> development build. Our aim is to have rapid development 
                         iterations, to allow you to test the capabilities of this new tool immediately. 
                         Some features might not be working properly yet, or not be fully designed. 
                         The use of TopAnat currently comes <span class="bgee_alert">at no warranty</span>, 
                         and, at present, we do not guarantee to store your results for later use. 
                         But everything should be usable and should allow you to have a taste of it!
                     </div>

                    <div class="panel-body">
                        <p>TopAnat is a tool to identify and visualize enriched anatomical terms,
                            from the expression patterns of a list of genes.
                        </p>
                        <p>It allows to discover where genes from a set are preferentially expressed,
                            as compared to a background, represented by default by all expression data in Bgee 
                            for the requested species. It is is similar to a Gene Ontology enrichment test, 
                            except that it analyzes the anatomical structures where genes are expressed, 
                            rather than their GO functional annotations.
                        </p>
                        <p><strong>Please note that the results can be slow to compute</strong>, 
                           typically from 1 to 10 minutes, depending on the amount of data to process. 
                        </p>
                     </div>
                    <div class="row panel-body">
                        <div class="col-sm-6">
                            <p><span class="list_element_title">See examples (please note that 
                               the pages can take a few seconds to load): </span>
                               <ul>
                                 <li><a href="/?page=top_anat#/result/39a9caea61be777b8a9d402b5ba3258b78b37ee8" 
                                 title="TopAnat example">Expression localization enrichment</a> 
                                 for the human genes mapped to the GO term "spermatogenesis", 
                                 with RNA-Seq data, during the post-embryonic stage.</li>
                                 <li><a href="/?page=top_anat#/result/bb083e8845722242d66395c7ac2a61ec9d5d2767" 
                                 title="TopAnat example">Enrichment</a> 
                                 for the mouse genes mapped to the GO term "neurological system process".</li>
                                 <li><a href="/?page=top_anat#/result/e9983b5fddace4e616a85612675596c05f6b9f78" 
                                 title="TopAnat example">Enrichment</a> 
                                 for the mouse genes mapped to the GO term "spermatogenesis".</li>
                               </ul>
                            </p>
                            <p>
                                <!-- To be resurrected once we have a link to a comprehensive doc -->
                                <!--<a href="">More...</a>-->
                            </p>
                        </div>

                        <div class="col-sm-6">
                            <span class="list_element_title">How to use: </span>
                            <ul class="help">
                                <li>Enter a list of Ensembl identifiers into the first form field,</li>
                                <li>Optionally, enter a list of background genes,</li>
                                <li>Optionally, change the program parameters with the dropdown menu.</li>
                                <li>Click the 'Submit your job' button.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>TopAnat is based on 
                           <a href="http://www.bioconductor.org/packages/release/bioc/html/topGO.html" 
                           title="TopGO package in Bioconductor" target="_blank">topGO</a>. 
                           Adaptation of topGO courtesy of Adrian Alexa.  
                        </p>
                     </div>
                </div>
            </div>
        </div>

        <!-- GENE LIST + BACKGROUND + ADVANCED OPTIONS -->
        <div class="row">

            <!-- GENE LIST -->
            <div class="col-sm-3">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <span class="h5">Gene list
                            <p class="p-topanat navbar-right"><a href="#" class="navbar-link"><img ng-src="{{vm.species_img(vm.selected_taxid)}}" class="img-responsive img-topanat-small" ng-show="vm.selected_taxid !==''" uib-tooltip="Detected species: {{vm.selected_species}}"></a></p>

                            <span ng-show="(vm.uploader.isUploading || vm.fg_list) && !vm.selected_species" ng-hide="(!vm.uploader.isUploading && !vm.fg_list) || vm.selected_species">
                                <li class="fa fa-circle-o-notch fa-spin" ></li>
                                <span>
                                    <small>Detecting species corresponding to the gene list, retrieving associated development
                                        stages</small>
                                </span>
                            </span>
                            <span ng-show="vm.geneValidationMessage !== ''" ng-hide="vm.geneValidationMessage === ''">
                                <small>{{vm.geneValidationMessage}}</small>
                            </span>
                        </span>

                    </div><!-- /.container-fluid -->
                </nav>

                <textarea name="fg_list" id="fg_list"
                          ng-model="vm.fg_list"

                          ng-trim="false"
                          placeholder="Enter a list of Ensembl identifiers, one ID per line, no quotes, no comma. Use same format for file upload."
                          ng-class="{'error': vm.selected_species !== '' && !vm.isValidSpecies}"
                          rows="8"
                          cols="30"
                          ng-change="vm.getDevStages('fg', vm.fg_list)"
                          ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 600, 'blur': 0 } }"
                          ng-disabled="vm.formSubmitted"
                          class="form-control"
                        required>
                </textarea>
                <!-- To be resurrect for release 2
                <div class="row">
                    <span class="col-xs-12">
                        <span class="btn btn-default btn-file" ng-class="{'disabled': vm.formSubmitted}">
                            Upload gene list<input ng-click="vm.fileType='fg'" nv-file-select="" uploader="vm.uploader" type="file" ng-disabled="vm.formSubmitted" />
                        </span>

                        <span class="col-sm-push-3" id="fgprogress" ng-show="!vm.hideq['fg']"
                              ng-repeat="item in vm.uploader.queue">
                            <span ng-show="vm.uploader.isUploading">Uploading:
                            <strong>{{ vm.fileitem['fg'].name }}</strong>
                        {{ item.file.size/1024|number:2 }} KB</span>
                        </span>

                        <span ng-show="vm.showUploaded['fg']">
                            {{ vm.fileitem['fg'].name }} uploaded! <i class="glyphicon glyphicon-ok"></i>
                        </span>

                        <span ng-show="item.isCancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                        </span>

                        <span ng-show="item.isError">
                            <i class="glyphicon glyphicon-remove"></i>
                        </span>

                        <div class="progress" style="margin-top: 10px;" ng-show="!vm.hideq['fg']">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.uploader.queue[0].progress + '%' }"></div>
                        </div>
                    </span>
                </div>-->
            </div>

            <!-- BACKGROUND -->
            <!-- Adding ng-class to disable/enable works for the spans and h* elements but not for the inputs or the textarea -->
            <div class="col-sm-3 repeat-animation hide-fade" ng-hide="!vm.isValidSpecies">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <span class="h5">Background
                            <!-- Spinner from font-awesome -->
                            <div class="fa fa-circle-o-notch fa-spin" ng-show="(vm.uploader.isUploading || vm.bg_list) && !vm.background_species" ng-hide="(!vm.uploader.isUploading && !vm.bg_list) || vm.background_species"></div>
                            <span style="font-size: x-small" ng-show="(vm.uploader.isUploading || vm.bg_list) && !vm.background_species" ng-hide="(!vm.uploader.isUploading && !vm.bg_list) || vm.background_species">
                                <em>Detecting species corresponding to the background, checking consistency with gene list.</em>
                            </span>
                        </span>
                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                            <button type="button" class="btn" ng-model="vm.isBackgroundChecked" ng-click="vm.selectBackground('checked')" ng-disabled="vm.formSubmitted" ng-class="{'btn-primary': vm.isBackgroundChecked === 'checked', 'btn-default': vm.isBackgroundChecked === ''}">Bgee data for {{vm.selected_species}}</button>
                            <button type="button" class="btn" ng-model="vm.isBackgroundChecked" ng-click="vm.selectBackground('')" ng-disabled="vm.formSubmitted" ng-class="{'btn-primary': vm.isBackgroundChecked === '', 'btn-default': vm.isBackgroundChecked === 'checked'}">Custom data</button>
                        </div>
                        &nbsp;<span class="glyphicon glyphicon-question-sign" uib-tooltip="{{vm.help}}" ng-mouseover="vm.getOnlineHelpForItem('Custom background')"></span>
                    </div><!-- /.container-fluid -->
                </nav>

                <textarea name="bg_list"
                          class="form-control"
                          ng-model="vm.bg_list"
                          ng-trim="false"
                          ng-show="vm.isBackgroundChecked === ''"
                          ng-hide="vm.isBackgroundChecked === 'checked'"
                          placeholder="Ensembl identifiers from {{vm.selected_species}} genome, one ID per line (no quotes, no comma). Use same format for file upload."
                          ng-class="{'error': !vm.isValidSpecies}"

                          ng-change="vm.getDevStages('bg', vm.bg_list)"
                          ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 600, 'blur': 0 } }"
                          rows="8"
                          cols="30"
                          ng-disabled="vm.formSubmitted">

                </textarea>

                <!-- To be resurrect for release 2
                <div class="row" ng-show="!vm.isBackgroundChecked" ng-hide="vm.isBackgroundChecked">
                        <span class="col-xs-12">
                            <span class="btn btn-default btn-file" ng-class="{'disabled': vm.formSubmitted}">

                                Upload background<input ng-click="vm.fileType='bg'"
                                                        nv-file-select="" uploader="vm.uploader" type="file" ng-disabled="vm.formSubmitted" />
                            </span>

                            <span class="col-sm-push-3" id="bgprogress" ng-show="!vm.hideq['bg']"
                                  ng-repeat="item in vm.uploader.queue">
                                <span ng-show="vm.uploader.isUploading">Uploading:
                                <strong>{{ vm.fileitem['bg'].name }}</strong>
                            {{ item.file.size/1024|number:2 }} KB</span>
                            </span>

                            <span ng-show="vm.showUploaded['bg']">
                                {{ vm.fileitem['bg'].name }} uploaded! <i class="glyphicon glyphicon-ok"></i>
                            </span>

                            <span ng-show="item.isCancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                            </span>

                            <span ng-show="item.isError">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>

                            <div class="progress" style="margin-top: 10px;" ng-show="!vm.hideq['bg']">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.uploader.queue[0].progress + '%' }"></div>
                            </div>
                        </span>
                </div>-->
            </div>

            <!-- OPTIONS (DEV STAGES + EXPRESSION TYPE) -->
            <div class="col-sm-3 repeat-animation hide-fade blink_me" ng-hide="!vm.isValidSpecies">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <span class="h5">Development stages</span>
                    </div><!-- /.container-fluid -->
                </nav>

                <div ng-repeat="(key, stage) in vm.developmentStages" class="checkbox checkbox-primary">
                    <label ng-class="{'highlighted': !stage.checked}" class="checklist-label">&nbsp;&nbsp;
                        <input type="checkbox" ng-model="stage.checked" ng-disabled="vm.formSubmitted">{{stage.name}}
                    </label>
                </div>
                <p ng-show="!vm.devStageChecked()" class="help-block">At least one development stage is required</p>
            </div>

            <div class="col-sm-3 repeat-animation hide-fade" ng-hide="!vm.isValidSpecies">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <span class="h5">Expression types</span>
                        <br>
                        <span>Present</span>
                        <!--<div class="btn-group btn-group-xs" role="group" aria-label="...">
<button type="button" class="btn" value="ALL" ng-model="vm.expr_type" ng-click="vm.filterByDataType('ALL')" ng-disabled="vm.formSubmitted" ng-class="{'btn-primary': vm.expr_type === 'ALL', 'btn-default': vm.expr_type === 'DIFF_EXPRESSION' || vm.expr_type === 'EXPRESSION'}">All</button>
                            <button type="button" class="btn" value="EXPRESSION" ng-model="vm.expr_type" ng-click="vm.filterByDataType('EXPRESSION')" ng-disabled="vm.formSubmitted" ng-class="{'btn-primary': vm.expr_type === 'EXPRESSION', 'btn-default': vm.expr_type === 'DIFF_EXPRESSION' || vm.expr_type === 'ALL'}">Present</button>
                            <button type="button" class="btn" value="DIFF_EXPRESSION" ng-model="vm.expr_type" ng-click="vm.filterByDataType('DIFF_EXPRESSION')" ng-disabled="vm.formSubmitted" ng-class="{'btn-primary': vm.expr_type === 'DIFF_EXPRESSION', 'btn-default': vm.expr_type === 'EXPRESSION' || vm.expr_type === 'ALL'}">Over/Under expression</button>
                        </div>-->
                    </div><!-- /.container-fluid -->
                </nav>
                <!-- Removed ng-checked directives because:
                  - those don't seem to be used
                  - ng-checked directive should not be used together with ngModel, as this can lead to unexpected behavior.
                  Source: https://docs.angularjs.org/api/ng/directive/ngChecked
                  -->
                <span class="h5">With data types:</span>
                <div ng-repeat="(key, dataType) in vm.data_type.names" class="checkbox checkbox-primary">
                    <label ng-class="{'highlighted': (!dataType.checked && vm.allowedDataTypes.indexOf(dataType.key) != -1), 'span-disabled': vm.allowedDataTypes.indexOf(dataType.key) == -1}" class="checklist-label">&nbsp;&nbsp;<input type="checkbox" ng-model="dataType.checked" ng-disabled="vm.allowedDataTypes.indexOf(dataType.key) == -1 || vm.formSubmitted" />{{dataType.name}}</label>
                </div>
                <p ng-show="!vm.dataTypesChecked()" class="help-block">At least one data type is required</p>
            </div>
        </div>
        <!-- SUBMIT BUTTON -->
        <div class="row">

            <!-- Not nice, but col-md-push breaks the display (the advanced option div underneath is shifted to the right)-->
            <!-- Please do not hesitate to improve this part! -->
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <div class="vert-offset">
                    <div class="row" ng-show="!vm.formSubmitted && !vm.jobDone">
                        <button class="btn btn-primary btn-lg" type="submit" ng-disabled="queryForm.$invalid || !vm.isValidSpecies">
                                Submit your job
                            </button>
                            <!-- Issue 50: Do not include the email notification before second release -->
                            <!--<input type="email" placeholder="Email (Optional)" size="30" ng-model="vm.email" name="email" uib-tooltip="Enter your email to be notified when the job is completed" >
                            <p ng-show="queryForm.email.$error.email" class="alert-danger">No valid email!</p>-->
                    </div>
                    <button class="btn btn-danger btn-lg" ng-click="vm.cancelJob()" ng-show="vm.formSubmitted && !vm.jobDone" type="button">
                        Cancel your job
                    </button>
                    <button class="btn btn-success btn-lg" ng-click="vm.startNewJob()" ng-show="vm.jobDone" type="button">
                        Start a new job
                    </button>
                </div>
            </div>
        </div>

        <!-- ADVANCED OPTIONS -->
        <div class="row vert-offset">

            <!-- Not nice, but col-md-push breaks the display (shifted to the right)-->
            <!-- Please do not hesitate to improve this part! -->
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <div><span><a href="" ng-click="vm.isAdvancedOptionsChecked = !vm.isAdvancedOptionsChecked">Advanced options</a></span></div>
                <div ng-show="vm.isAdvancedOptionsChecked" ng-hide="!vm.isAdvancedOptionsChecked" class="vert-offset">
                    <!-- List group -->
                    <ul class="list-group">

                        <li class="list-group-item">
                            <label>Data quality:&nbsp;<span class="glyphicon glyphicon-question-sign" uib-tooltip="{{vm.help}}" ng-mouseover="vm.getOnlineHelpForItem('Data quality')"></span></label>
                            <div>
                                <span>&nbsp;&nbsp;<input type="radio" name="data_qual" ng-model="vm.data_qual" value="all">All</span>
                                <span ng-class="{'highlighted': vm.data_qual === 'highConfidence'}">&nbsp;&nbsp;<input type="radio" name="data_qual" ng-model="vm.data_qual" value="highConfidence">High confidence</span>
                            </div>
                        </li>


                        <li class="list-group-item">
                            <label>Decorrelation type:&nbsp;<span class="glyphicon glyphicon-question-sign" uib-tooltip="{{vm.help}}" ng-mouseover="vm.getOnlineHelpForItem('Decorrelation type')"></span></label>
                            <div>
                                <span ng-class="{'highlighted': vm.decorr_type === 'classic'}">&nbsp;&nbsp;<input type="radio" name="decorr_type" ng-model="vm.decorr_type" value="classic">No decorrelation</span>
                                <span ng-class="{'highlighted': vm.decorr_type === 'elim'}">&nbsp;&nbsp;<input type="radio" name="decorr_type" ng-model="vm.decorr_type" value="elim">Elim</span>
                                <span ng-class="{'highlighted': vm.decorr_type === 'weight'}">&nbsp;&nbsp;<input type="radio" name="decorr_type" ng-model="vm.decorr_type" value="weight">Weigth</span>
                                <span>&nbsp;&nbsp;<input type="radio" name="decorr_type" ng-model="vm.decorr_type" value="parentchild">Parent-child</span>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <label>Analysis options:</label>
                            <table class="table">
                                <tr>
                                    <td>
                                        <label ng-class="{'highlighted': vm.node_size != vm.nodeSizeDefault}">Node size:&nbsp;<span class="glyphicon glyphicon-question-sign" uib-tooltip="{{vm.help}}" ng-mouseover="vm.getOnlineHelpForItem('Node size')"></span></label>
                                    </td>
                                    <td>
                                        <input type="number" name="node_size" ng-model="vm.node_size" class="ao-input" required min="0" max="99">
                                        <p ng-show="queryForm.node_size.$error.required" class="help-block">The node size is required</p>
                                        <p ng-show="queryForm.node_size.$error.number" class="help-block">The node size must be a valid integer</p>
                                    </td>

                                    <td>
                                        <label ng-class="{'highlighted': vm.nb_node != vm.nbNodesDefault}">Nb of nodes:&nbsp;<span class="glyphicon glyphicon-question-sign" uib-tooltip="{{vm.help}}" ng-mouseover="vm.getOnlineHelpForItem('Number of nodes')"></span></label>
                                    </td>
                                    <td>
                                        <input type="number" name="nb_node" ng-model="vm.nb_node" class="ao-input" required min="0" max="99">
                                        <p ng-show="queryForm.nb_node.$error.required" class="help-block">The number of nodes is required</p>
                                        <p ng-show="queryForm.nb_node.$error.number" class="help-block">The number of nodes must be a valid integer</p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label ng-class="{'highlighted': vm.fdr_thr != vm.fdrThresholdDefault}">FDR threshold:&nbsp;<span class="glyphicon glyphicon-question-sign" uib-tooltip="{{vm.help}}" ng-mouseover="vm.getOnlineHelpForItem('FDR threshold')"></span></label>
                                    </td>
                                    <td>
                                        <input type="text" name="fdr_thr" ng-model="vm.fdr_thr" class="ao-input" required>
                                        <p ng-show="queryForm.fdr_thr.$invalid" class="help-block">The FDRthreshold is required</p>
                                    </td>

                                    <td>
                                        <label ng-class="{'highlighted': vm.p_value_thr != vm.pvalueThresholdDefault}">p-value threshold:&nbsp;<span class="glyphicon glyphicon-question-sign" uib-tooltip="{{vm.help}}" ng-mouseover="vm.getOnlineHelpForItem('p-value threshold')"></span></label>
                                    </td>
                                    <td>
                                        <input type="text" name="p_value_thr" ng-model="vm.p_value_thr" class="ao-input" required>
					                    <p ng-show="queryForm.p_value_thr.$invalid" class="help-block">The p-value threshold is required</p>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>

    <div class="vert-offset" ng-show="vm.formSubmitted">

        <div class="alert alert-info repeat-animation hide-fade show-fade" ng-show="vm.message" ng-class="{'alert-warning': vm.messageSeverity == 'warning', 'alert-success': vm.messageSeverity == 'success'}">
            <i class="fa fa-spinner fa-spin" data-ng-show="!vm.jobDone && vm.formSubmitted && vm.jobStatus != 'DONE'" data-ng-hide="vm.jobStatus == 'DONE'"></i>
            <span ng-bind-html="to_trusted(vm.message)"></span>
            <!--
            <span ng-show="vm.isSuccessfulMessage(vm.message)">&nbsp;
                <a href="" style="margin-right: 6px;" class="pull-right"><span style="margin-right: 4px;vertical-align: middle;" class="glyphicon glyphicon-cog" aria-hidden="true"></span>Parameters</a>
                <a href="" style="margin-right: 6px;" class="pull-right"><span style="margin-right: 4px;vertical-align: middle;" class="glyphicon glyphicon-import" aria-hidden="true"></span>Export your job</a>
                <a href="" style="margin-right: 6px;" class="pull-right"><span style="margin-right: 4px;vertical-align: middle;" class="glyphicon glyphicon-download" aria-hidden="true"></span>Download</a>
            </span>
            -->
        </div>
    </div>

    <div id="resultContainer" ng-show="vm.jobDone && vm.gridOptions.data.length > 0" class="vert-offset well">

        <nav class="navbar navbar-default">
            <div class="vert-offset">
                <!-- To be resurrected asap! -->
                <!--View
                <select name="viewSelector" id="viewSelector"
                        ng-options="option.name for option in vm.viewSelectorData.availableOptions track by option.id"
                        ng-model="vm.viewSelectorData.selectedOption"
                        ng-change="vm.filterResultFromViewSelector()">
                </select>-->
                <!-- 
                FIXME: the line count is incorrect when results are retrieved following form submission, 
                       disabling this until it's fixed. 
                <span style="font-size: small; color: red;" ng-show="vm.filteredRows.length > 0">&nbsp;{{vm.filteredRows.length}} results</span>
                -->
                <!-- FIXME: the download link doesn't work anymore, certainly following my fix 
                            for the lack of grid update. Disabling it for now.
                <span ng-show="vm.filteredRows.length > 0" style="font-size: small;">&nbsp;[<a href="" ng-click="vm.downloadFilteredResults()">Download</a>]</span>
                -->
                
                <span style="font-size: small; color: red;" ng-show="vm.filteredRows.length == 0">&nbsp;No result.</span>

                    <!-- To be resurrect for release 2
                   <span ng-show="vm.filteredRows.length > 0" style="font-size: small;" class="pull-right">&nbsp;[<a href="" ng-click="vm.downloadFilteredRow()">Download</a>]</span>
                    <span class="pull-right" style="font-size: small; color: red;" ng-show="vm.filteredRows.length > 0">&nbsp;{{vm.filteredRows.length}} results</span>

                    <button ng-click='vm.filter()' class="pull-right">Filter</button>
                    <input ng-model='vm.filterValue' class="pull-right"/>
                    -->
                </div>
            <!-- /.container-fluid -->
        </nav>

        <div id="grid1" ui-grid="vm.gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-exporter></div>
    </div>

</div>

</div>
